<ul class="flex border-b mt-2">
  <li class="mr-1">
    <%= link_to "Mes annonces", items_path, class:current_class?(items_path) %>
  </li>
  <li class="mr-1">
    <%= link_to "Mes areas", areas_path, class:current_class?(areas_path) %>
  </li>
</ul>
